body {
	background-color: rgb(230, 230, 230);
	color: rgb(50, 50, 50);
	font-family: 'Lora', serif;
	font-size: 17px;
}

h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
}

h1 {
color:#243642;
font-size: 32px;
font-weight: 900;
}

h2 {
	color: #387478;
font-size: 24px;
font-weight: 300;
}

a{
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #626F47;
	font-weight: 600;
	font-size: 16px;
}
a:hover{
	color: #629584;
}

/* Custom design with class */

.container {
  width: 700px;
  margin: 40px auto;
}

@media (max-width: 760px) {
	.container{
		width: 600px
	}
}

@media (max-width: 500px) {
	.container{
		width: 400px
	}
}

.card-white{
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	margin: 20px 0px;
	text-align: center;
}

.img-circle{
	border-radius: 50%;
	block-size: 200px;
}

.btn-blue{
	background-color: #626F47;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}

.btn-blue:hover{
	background-color: black;
	color: white;
}

.list-inline{
	list-style: none;
	padding-left: 0px;
}

.list-inline li{
	display: inline;
	padding: 10px;
}

#introduction p{
	margin-bottom: 40px;

}

